.chat {
  position: fixed;
  bottom: 0;
  right: 2em;
  box-shadow: 0px 5px 15px grey;
  z-index: 99;
  -webkit-backdrop-filter: blur(5px);
  /*background-color: rgba(255, 255, 255, 0.9);*/
  background-color: $chat-window-background;
  border-radius: 10px 10px 0 0;
  border: 1px solid darken($chat-title-background, 5%);
  border-bottom: none;

  .chat-controls {
    background-color: $chat-title-background;
    padding: 0.5em;
    color: $chat-title-text;
    border-radius: 10px 10px 0 0;
    a {
      &:hover, &:link, &:active, &:visited {
        color: $chat-title-text;
        text-decoration: none;        
      } 
    }
 }

  .chat-messages {
    overflow-y: scroll;
    height: 22em;
    width: 22em;
  }

  .chat-message-form {
    margin: 0.25em !important;
}

  .chat-body, .chat-stop {
    display: none;
  }

  .message-webuser, .message-agent {
    position:relative;
    padding:15px;
    margin: 0.5em;
    color: $chat-bubble-text;
    background: $chat-bubble-background;
    border-radius: 10px;
  }

  .message-webuser {
    margin-left: 3em;
  }

  .message-agent {
    margin-right: 3em;
  }

  .message-system {
    text-align: center;
    font-size: 0.8em;
    color: $chat-window-text;
    padding: 0 0.25em;
  }

  .chat-message-input {
   width: 22em; 
   margin-bottom: 0;
  }

  .chat-message-submit {
    float: rigth;
  }

  .chat-start, .chat-stop {
    text-decoration: none;
  }

  .chat-stop {
    float: right;
  }
}
