<div class='chat'>
  <div class='chat-messages'>
  </div>
  <%= form_tag nil, class: 'chat-message-form' do %>
    <%= text_field_tag 'content', nil, class: 'chat-message-input' %>
    <%= submit_tag :send, class: 'chat-message-submit' %>
  <% end %>
</div>
